@font-face {
  font-family: 'user-chat';
  src: url("fonts/user-chat-0.2.0.eot?bl7cde");
  src: url("fonts/user-chat-0.2.0.eot?bl7cde#iefix") format("embedded-opentype"), url("fonts/user-chat-0.2.0.ttf?bl7cde") format("truetype"), url("fonts/user-chat-0.2.0.woff?bl7cde") format("woff"), url("fonts/user-chat-0.2.0.svg?bl7cde#user-chat") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="uc-"], [class*=" uc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'user-chat' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.uc-bolt:before {
  content: "\e902"; }

.uc-edit:before {
  content: "\e903"; }

.uc-send-o:before {
  content: "\e904"; }

.uc-envelope-o:before {
  content: "\f003"; }

.uc-trash-o:before {
  content: "\f015"; }

.uc-envelope:before {
  content: "\f0e0"; }

.uc-menu-dots:before {
  content: "\f141"; }

.uc-spinner:before {
  content: "\f110"; }

@keyframes anim-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.uc-spinner {
  display: inline-block;
  animation: anim-rotate 1s infinite steps(8);
  text-shadow: 0 0 0.25em rgba(255, 255, 255, 0.3); }

.user-chat-box {
  width: 100%;
  font-family: 'Open Sans', sans-serif !important; }
  .user-chat-box .user-chat-box-user-message-edited {
    font-size: 10px;
    font-style: italic; }
  .user-chat-box .user-chat-box-message-pending {
    position: relative; }
    .user-chat-box .user-chat-box-message-pending .user-chat-box-message-pending-overlay {
      margin-left: -15px;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0.7;
      background-color: #fff; }
  .user-chat-box .user-chat-box-new-message-badge-wrapper {
    position: absolute;
    left: 50%; }
    .user-chat-box .user-chat-box-new-message-badge-wrapper .user-chat-box-new-message-badge {
      background-color: #ccc;
      color: #fff;
      border-radius: 500px;
      text-align: center;
      padding: 3px 5px;
      font-size: 11px;
      width: auto;
      margin-top: -10px;
      left: -50%;
      position: relative;
      cursor: pointer; }
  .user-chat-box .user-chat-box-header {
    background-color: #509DE8;
    padding: 15px;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    max-width: 100%; }
    .user-chat-box .user-chat-box-header .user-chat-box-subtitle {
      font-size: 12px;
      color: #fff; }
    .user-chat-box .user-chat-box-header .user-chat-box-branding {
      font-size: 9px;
      margin: 0px; }
      .user-chat-box .user-chat-box-header .user-chat-box-branding i {
        vertical-align: middle; }
      .user-chat-box .user-chat-box-header .user-chat-box-branding a {
        color: #fff;
        text-decoration: none; }
  .user-chat-box .user-chat-box-body {
    height: auto;
    overflow-y: scroll;
    border: 1px solid #f3f4f5;
    border-bottom: 0px;
    max-width: 100%;
    position: relative;
    background-color: #fff; }
    .user-chat-box .user-chat-box-body .user-chat-box-robot {
      width: 36px;
      border-radius: 50%; }
    .user-chat-box .user-chat-box-body .user-chat-box-message {
      padding: 30px 15px;
      border-bottom: 1px solid #f3f4f5;
      font-size: 13px;
      font-weight: 200;
      width: auto;
      display: flex;
      align-items: center;
      word-break: break-all;
      background-color: #fff; }
      .user-chat-box .user-chat-box-body .user-chat-box-message.user-chat-box-message-destroyed {
        background-color: rgba(255, 0, 0, 0.2) !important; }
      .user-chat-box .user-chat-box-body .user-chat-box-message img {
        max-width: 80%; }
      .user-chat-box .user-chat-box-body .user-chat-box-message p {
        margin: 0px; }
      .user-chat-box .user-chat-box-body .user-chat-box-message:nth-child(odd) {
        background-color: #f7f8fa; }
      .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-circle-image img {
        border-radius: 50%;
        float: left;
        margin-right: 15px; }
      .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-container {
        width: 100%; }
      .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-header {
        width: 100%;
        font-weight: 700;
        word-break: keep-all;
        word-wrap: break-word; }
      .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-timestamp {
        float: right;
        font-size: 11px;
        font-weight: 300; }
      .user-chat-box .user-chat-box-body .user-chat-box-message h1, .user-chat-box .user-chat-box-body .user-chat-box-message h2, .user-chat-box .user-chat-box-body .user-chat-box-message h3, .user-chat-box .user-chat-box-body .user-chat-box-message h4, .user-chat-box .user-chat-box-body .user-chat-box-message h5 {
        word-break: keep-all;
        word-wrap: break-word; }
      .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-body {
        margin-top: 5px; }
        .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-body .user-chat-box-user-message p {
          float: left;
          width: 78%;
          word-break: break-word; }
        .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-body .user-chat-box-user-message textarea {
          border: 0px;
          float: left;
          width: 68%;
          padding: 10px;
          font-size: 13px;
          font-weight: 100;
          height: auto;
          resize: none;
          word-break: break-word; }
        .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-body .user-chat-box-user-message .user-chat-box-user-message-edit-textarea {
          border: 1px solid #f3f4f5;
          resize: none;
          margin: 0px; }
        .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-body .user-chat-box-user-message-controls {
          float: right;
          color: #ccc; }
          .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-body .user-chat-box-user-message-controls .user-chat-edit-send-button i {
            margin-top: 13px;
            font-size: 15px;
            color: #509DE8;
            cursor: pointer; }
          .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-body .user-chat-box-user-message-controls .uc-edit {
            color: #ccc;
            cursor: pointer; }
          .user-chat-box .user-chat-box-body .user-chat-box-message .user-chat-box-user-message-body .user-chat-box-user-message-controls .uc-trash-o {
            cursor: pointer;
            color: #ccc; }
  .user-chat-box .user-chat-box-messenger {
    background-color: #f4f7f9;
    max-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #f3f4f5; }
    .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea-controls {
      position: absolute;
      color: #ccc;
      right: 0px;
      top: 13px;
      resize: none; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea-controls i {
        margin-right: 5px;
        cursor: pointer;
        z-index: 1; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea-controls .uc-envelope-o.active {
        color: #509DE8; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea-controls i:last-of-type {
        margin-right: 15px;
        cursor: pointer;
        z-index: 1; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea-controls .uc-send-o.active {
        color: #509DE8; }
    .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea {
      border-top: 2px solid #f3f4f5;
      resize: none;
      background-color: #f7f8fa;
      border: 0px;
      outline: none;
      padding: 13px 75px 13px 13px;
      font-weight: 100;
      line-height: 18px;
      font-size: 14px;
      max-width: 100%;
      height: auto;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea[disabled] {
        background-color: #FFEA88;
        color: black; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea[disabled]::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #4c4c4c;
        font-weight: 100; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea[disabled]::-moz-placeholder {
        /* Firefox 19+ */
        color: #4c4c4c;
        font-weight: 100; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea[disabled]:-ms-input-placeholder[disabled] {
        /* IE 10+ */
        color: #4c4c4c;
        font-weight: 100; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea[disabled]:-moz-placeholder[disabled] {
        /* Firefox 18- */
        color: #4c4c4c;
        font-weight: 100; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea.user-chat-box-messenger-textarea-unauthorized {
        background-color: #DC4554;
        color: #fff;
        font-weight: 500; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea.user-chat-box-messenger-textarea-unauthorized::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff;
        font-weight: 500; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea.user-chat-box-messenger-textarea-unauthorized::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        font-weight: 500; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea.user-chat-box-messenger-textarea-unauthorized:-ms-input-placeholder[disabled] {
        /* IE 10+ */
        color: #fff;
        font-weight: 500; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea.user-chat-box-messenger-textarea-unauthorized:-moz-placeholder[disabled] {
        /* Firefox 18- */
        color: #fff;
        font-weight: 500; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea:focus {
        background-color: #fff; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #ccc;
        font-weight: 100;
        vertical-align: middle; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: #ccc;
        font-weight: 100; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea:-ms-input-placeholder {
        /* IE 10+ */
        color: #ccc;
        font-weight: 100; }
      .user-chat-box .user-chat-box-messenger .user-chat-box-messenger-textarea:-moz-placeholder {
        /* Firefox 18- */
        color: #ccc;
        font-weight: 100; }

.dd-menu-items {
  z-index: 1042 !important;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
  right: 15px;
  margin-bottom: 15px; }

.dd-menu {
  cursor: pointer; }

.dd-menu .dd-menu-items ul li:hover:not([role="separator"]):not(.separator), .dd-menu .dd-menu-items ul li > *:focus, .dd-menu .dd-menu-items ol li:hover:not([role="separator"]):not(.separator), .dd-menu .dd-menu-items ol li > *:focus {
  background-color: #f7f8fa;
  color: #509DE8; }

.dd-menu-items li {
  min-width: auto;
  padding: 10px 10px; }
  .dd-menu-items li i {
    margin-right: 10px;
    font-size: 17px;
    vertical-align: middle; }
  .dd-menu-items li span {
    vertical-align: middle;
    font-size: 13px; }

ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }


/*# sourceMappingURL=userchat.css.map*/